extends layout

block content
  nav#perfil
    div#foto
      img(src="https://image.freepik.com/icones-gratis/usuario-icone-do-perfil_318-33925.jpg" style="width:100px; height: 100px;")
    div#resumo
      h2= user.name
      div#bio Bio:
        - if(user.bio)
          p= user.bio
        - else
          - var _edit = "/user/"+user.id+"/edit"
          a(href=_edit) configure suas informações
    div#postagens
      h2= Postagens
        - if(user.postagens)
          - var _posts = "/user/"+user.id+"/posts"
          a(href=_posts)
        - else
          - var _posts = "/user/"+user.id+"/posts/create"
          Voce nao criou nenhuma postagem. Se quiser criar, clique 
            a(href=_posts) aqui
    div#composicoes
      h2= Composições
        - if(user.composicoes)
          - var _comp = "/user/"+user.id+"/compositions"
          a(href=_comp)
        - else
          - var _comp = "/user/"+user.id+"/compositions/create"
          p Voce nao cadastou nenhuma musica. Se quiser cadastrar, clique 
            a(href=_comp) aqui